<nav class="container">

  <a class="logo" routerLink="/">{{ appTitle }}</a>

  <ul>
    <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/add-a-player" routerLinkActive="active">Add Player</a></li>
  </ul>

</nav>
