
.logo {
  font-weight: bold;
  font-size: 30px;
  line-height: 100px;
  pointer-events: none;
}

nav {
  width: 100%;
  height: 100px;
  background-color: #7700FF;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

h1 {
  line-height: 100px;
  text-align: center;
  color: black;
  font-size: 80px;
}

ul {
  line-height: 100px;
}

ul li {
  list-style: none;
  display: inline-block;
}

ul li a {
  display: block;
  text-decoration: none;
  font-size: 30px;
  font-family: arial;
  color: black;
  padding: 0 30px;
}

ul li a:hover {
  color: whitesmoke;
}
