<ng-container>
  <div *ngFor="let item of importDataItems" class="row">
    <div class="column">
      <div> {{item.name}} </div>
      <div> {{item.number}} </div>
      <div> {{item.info}} </div>
      <div> {{item.position}} </div>
    </div>
  </div>
</ng-container>

<!--<h1>Users</h1>-->

<!--<ul>-->
  <!--<li *ngFor="let item of importDataItems">-->
    <!--<p>{{ item.number }} {{ item.name }} {{ item.position }} {{ item.otherInfo }}</p>-->
  <!--</li>-->
<!--</ul>-->
