<form [formGroup]="newPlayer">
  <label>Name
    <input formControlName="name" type="text">
  </label>
  <label>Number
    <input formControlName="number" type="text">
  </label>

  <label>Position
    <input formControlName="position" type="text">
  </label>
  <label>Other Information
    <input formControlName="info" type="text">
  </label>
  <button type="submit" (click)="createPlayer()">Create</button>
</form>
